/* line 4, ../../app/assets/stylesheets/gallery.css.sass */
body {
  background: #f2f2f2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  color: #333333;
  height: 100%;
}
/* line 14, ../../app/assets/stylesheets/gallery.css.sass */
body div.container {
  overflow: hidden;
}
/* line 17, ../../app/assets/stylesheets/gallery.css.sass */
body h1.title {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 48pt;
  letter-spacing: 3px;
  position: fixed;
}

/* line 24, ../../app/assets/stylesheets/gallery.css.sass */
ul.gallery_container {
  position: absolute;
  list-style-type: none;
  padding-left: 0;
  top: 25%;
  white-space: nowrap;
  overflow-x: visible;
  cursor: pointer;
}
/* line 33, ../../app/assets/stylesheets/gallery.css.sass */
ul.gallery_container li.gallery {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 400px;
}
/* line 40, ../../app/assets/stylesheets/gallery.css.sass */
ul.gallery_container li.gallery div.gallery_image {
  height: 300px;
  width: 400px;
  background: #bfbfbf;
  overflow: hidden;
}
/* line 46, ../../app/assets/stylesheets/gallery.css.sass */
ul.gallery_container li.gallery div.gallery_title {
  text-align: center;
  font-size: 16pt;
  padding: 6px 0 4px 0;
  height: 32px;
  background: #e6e6e6;
}
/* line 53, ../../app/assets/stylesheets/gallery.css.sass */
ul.gallery_container li.gallery div.gallery_description {
  text-align: center;
  background: #e6e6e6;
  display: none;
  white-space: normal;
  padding-bottom: 4px;
  color: #4d4d4d;
}
